@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
@font-face {
  font-family: 'apropal';
  src: url("Apropal-Bold.otf") format("opentype");
  src: url("Apropal-Bold.ttf") format("truetype");
}

.container {
  width: 100%;
  max-height: fit-content;
  max-width: 1920px;
  text-align: center;
  margin: 0 auto;
}

body {
  height: 100vh;
  font-family: 'Lato', sans-serif;
  background: linear-gradient(to top, #000000, #006816);
  color: #3ba66d;
  overflow: hidden;
}

body .menu {
  font-weight: 900;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  padding: 2vh 0 1vh 1vw;
  font-size: 1vw;
}

@media (max-width: 768px) {
  body .menu {
    font-size: 4vw;
  }
}

body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header h1 {
  font-family: 'lato', sans-serif;
  font-size: 4vw;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-weight: 300;
}

@media (max-width: 768px) {
  body header h1 {
    font-size: 6vw;
  }
}

body header img {
  padding: 2vh;
  width: 17%;
  border-radius: 20%;
}

@media (min-width: 768px) {
  body header img {
    width: 12%;
    padding: 1.5vh;
  }
}

body header h2 {
  color: white;
  padding-top: 1vh;
  font-size: 1.5vw;
  letter-spacing: 0.5vw;
}

@media (max-width: 768px) {
  body header h2 {
    font-size: 3vw;
  }
}

body .check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2vh;
}

body .check h2 {
  color: #ffff66;
  padding: 2vh;
  font-size: 1vw;
}

@media (max-width: 768px) {
  body .check h2 {
    font-size: 3vw;
  }
}

body .check .choice {
  padding: 1vh;
  overflow: hidden;
}

body .check .choice select {
  border-radius: 1vh;
  font-size: 1.5vw;
  text-align: center;
  padding: 5px;
}

@media (max-width: 768px) {
  body .check .choice select {
    margin: 2px;
    font-size: 3vw;
    padding: 4px 2px;
    width: 90vw;
  }
}

body .check .choice select option {
  padding: 5px;
}

body .check .check_bus {
  background-color: transparent;
  border: 2px solid #ffff66;
  color: #ffff66;
  padding: 10px;
  margin: 10px;
  border-radius: 4px;
}


@media (max-width: 768px) {
  body .result .your_time {
    font-size: 15vw;
    padding: 5px;
  }
}

body .modal {
  display: none;
  position: fixed;
  align-items: center;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
}

body .modal .bus_list {
  height: 90vh;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .modal .bus_list h3 {
  text-align: center;
  font-weight: 700;
  padding: 5px;
}

@media (min-width: 768px) {
  body .modal .bus_list h3 {
    font-size: 1.5vw;
  }
}

body .modal .bus_list .lines {
  background-color: white;
  color: black;
  padding: 5px;
  font-weight: 900;
  border-radius: 3px;
}

@media (min-width: 768px) {
  body .modal .bus_list .lines {
    font-size: 3vw;
  }
}

body .modal .bus_list .hours {
  padding: 5px;
  color: #ffff66;
  max-width: 75%;
  display: block;
  word-break: break-all;
  text-align: center;
}

@media (min-width: 768px) {
  body .modal .bus_list .hours {
    font-size: 2vw;
  }
}

@media (max-width: 768px) {
  body .modal .bus_list .hours {
    padding: 0;
  }
}

body .modal .close {
  font-size: 35px;
  padding: 0 3px;
  cursor: pointer;
}

body .whole {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .whole button {
  background-color: transparent;
  border: 2px solid #ffff66;
  color: #ffff66;
  padding: 10px;
  margin: 10px;
  border-radius: 4px;
}

body .sidenav {
  margin: 5vh 0;
  height: 60vh;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .sidenav:not(.linesnav) {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  list-style-type: circle;
  margin-left: 5vw;
}

@media (max-width: 768px) {
  body .sidenav:not(.linesnav) {
    margin-left: 15vw;
    display: block;
  }
}

body .sidenav_menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-weight: 700;
  font-size: 3vw;
  color: #fff;
}

body .sidenav_menu span {
  cursor: pointer;
}

@media (max-width: 768px) {
  body .sidenav_menu {
    font-size: 6vw;
  }
}

body .sidenav_lines {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  font-weight: 900;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.9);
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (min-width: 768px) {
  body .sidenav_lines {
    font-size: 3vw;
  }
}

body .sidenav_1,
body .sidenav_2,
body .sidenav_3,
body .sidenav_4,
body .sidenav_5,
body .sidenav_6,
body .sidenav_7,
body .sidenav_8 {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .sidenav_1 .route,
body .sidenav_2 .route,
body .sidenav_3 .route,
body .sidenav_4 .route,
body .sidenav_5 .route,
body .sidenav_6 .route,
body .sidenav_7 .route,
body .sidenav_8 .route {
  height: 80vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .sidenav_1 .route img,
body .sidenav_2 .route img,
body .sidenav_3 .route img,
body .sidenav_4 .route img,
body .sidenav_5 .route img,
body .sidenav_6 .route img,
body .sidenav_7 .route img,
body .sidenav_8 .route img {
  width: 90vw;
  max-width: 900px;
}

@media (max-width: 768px) {
  body .sidenav_1 .route,
  body .sidenav_2 .route,
  body .sidenav_3 .route,
  body .sidenav_4 .route,
  body .sidenav_5 .route,
  body .sidenav_6 .route,
  body .sidenav_7 .route,
  body .sidenav_8 .route {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 150vh;
  }
}

body .sidenav_pdf {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.9);
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-weight: 900;
  font-size: 3vw;
  color: #3ba66d;
}

@media (max-width: 768px) {
  body .sidenav_pdf {
    font-size: 6vw;
  }
}

body .sidenav_pdf a {
  text-decoration: none;
  color: #3ba66d;
}

body .sidenav_pdf h4 {
  color: #222222;
}

body .sidenav_about {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.9);
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-weight: 900;
  font-size: 3vw;
  color: #3ba66d;
}

@media (max-width: 768px) {
  body .sidenav_about {
    font-size: 6vw;
  }
}

body .sidenav_about .about {
  height: 90%;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-item-align: center;
      align-self: center;
}

body .sidenav_about p {
  width: 70vw;
  height: 80vh;
  max-width: 1000px;
  text-align: justify;
  color: #222222;
  font-weight: 300;
  font-size: 2vw;
}

@media (max-width: 768px) {
  body .sidenav_about p {
    font-size: 4vw;
  }
}

body .closebtn {
  color: #3ba66d;
  top: 0;
  font-size: 35px;
  padding: 0 3px;
  cursor: pointer;
  text-decoration: none;
}

body .main_stop {
  color: #ffff66;
  text-transform: uppercase;
  font-weight: 700;
}

body .line_route {
  cursor: pointer;
  color: black;
}

body .line_plate {
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .line_plate .line_name {
  background-color: white;
  color: black;
  padding: 5px;
  font-weight: 900;
  border-radius: 3px;
  margin-left: 45vw;
}

@media (max-width: 768px) {
  body .line_plate .line_name {
    margin-left: 0vw;
  }
}

@media (min-width: 768px) {
  body .line_plate .line_name {
    font-size: 2vw;
  }
}

body footer {
  padding: 10px;
  width: 100vw;
  font-family: 'apropal', sans-serif;
  font-size: 1.5vh;
  color: white;
  background-color: #3ba66d;
  position: absolute;
  bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: cover;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Create three equal columns that floats next to each other */
.time {
  float: left;
  width: 30%;
  padding: 10px;
  text-align: center;
}
.current_bus{
  font-size: 2.5vw;
  color: rgb(0, 255, 85);
}
.main_time{
  font-size: 5.5vw;
  color: rgb(0, 255, 42);
}
.other_bus {
  font-size: 1.5vw;
  color: rgb(0, 87, 14);
}
.other_time{
  font-size: 3vw;
  color: rgb(0, 112, 24);
}

/* Clear floats after the columns */
.result:after {
  content: "";
  display: table;
  clear: both;
}
.line_img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 768px) {
  .time {
    width: 100%;
  }
  .current_bus{
    font-size: 3.5vw;
  }
  .main_time{
    font-size: 7.5vw;
  }
  .other_bus {
    font-size: 2.5vw;
  }
  .other_time{
    font-size: 6vw;
  }

}
/*# sourceMappingURL=style.css.map */