@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');
@font-face {
	font-family: 'apropal';
	src: 
		url('Apropal-Bold.otf')
		format('opentype');
	src:
		url('Apropal-Bold.ttf')
		format('truetype');
}

$background: #222222;
$text-color: #3ba66d;
$yellow: #ffff66;

.container {
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
}

body {
	height: 100vh;
	font-family: 'Lato', sans-serif;
	background: linear-gradient(to top, #4e4e4e , $background);
	color: $text-color;
	overflow: hidden;

	.menu {
		font-weight: 900;
		text-transform: uppercase;
		color: #fff;
		cursor: pointer;
		padding: 2vh 0 1vh 1vw;
		font-size: 1vw;
		@media (max-width: 768px) {
			font-size: 4vw;
		}
	}

	header {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		h1 {
			font-family: 'lato', sans-serif;
			font-size: 4vw;
			text-transform: uppercase;
			letter-spacing: 10px;
			font-weight: 300;
			@media (max-width: 768px) {
				font-size: 6vw;
			}
		}

		img {
			padding: 2vh;
			width: 17%;
			border-radius: 20%;
			@media (min-width: 768px) {
				width: 12%;
				padding: 1.5vh;
			}
		}

		h2 {
			color: white;
			padding-top: 1vh;
			font-size: 1.5vw;
			letter-spacing: 0.5vw;
			@media (max-width: 768px) {
				font-size: 3vw;
			}
		}
	}

	.check {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 2vh;

		h2 {
			color: $yellow;
			padding: 2vh;
			font-size: 1vw;
			@media (max-width: 768px) {
				font-size: 3vw;
			}
		}

		.choice {
			padding: 1vh;
			overflow: hidden;

			select {
				border-radius: 1vh;
				font-size: 1.5vw;
				text-align: center;
				padding: 5px;
				@media (max-width: 768px){
					margin: 2px;
					font-size: 3vw;
					padding: 4px 2px;
					width: 90vw;
				}

				option {
					padding: 5px;
				}
			}

		}

		.check_bus {
			background-color: transparent;
			border: 2px solid $yellow;
			color: $yellow;
			padding: 10px;
			margin: 10px;
			border-radius: 4px;
		}
	}

	.result {
		display: flex;
		flex-direction: column;
		align-items: center;
		
		h3 {
			text-align: center;
		}

		.your_time {
			text-align: center;
			font-size: 10vw;
			@media (max-width: 768px) {
				font-size: 15vw;
				padding: 5px;
			}
		}
	}

	.modal {
		display: none; 
		position: fixed; 
		z-index: 1; 
		left: 0;
		top: 0;
		width: 100%;
		height: 100%; 
		overflow: auto;
		background-color: rgb(0,0,0); 
		background-color: rgba(0,0,0,0.9);
	    animation-name: fadeIn;
	    animation-duration: 0.4s;

	    .bus_list {
	    	height: 90vh;
	    	color: white;
	    	display: flex;
	    	flex-direction: column;
	    	flex-wrap: wrap;
	    	align-items: center;
	    	justify-content: space-around;

	    	h3 {
	    		text-align: center;
	    		font-weight: 700;
	    		padding: 5px;
	    		@media (min-width: 768px) {
	    			font-size: 1.5vw;
	    		}
	    	}

	    	.lines {
	    		background-color: white;
	    		color: black;
	    		padding: 5px;
	    		font-weight: 900;
	    		border-radius: 3px;
	    		@media (min-width: 768px) {
	    			font-size: 3vw;
	    		}
	    	}

	    	.hours {
	    		padding: 5px;
	    		color: $yellow;
	    		max-width: 100%;
	    		display: block;
	    		word-break: break-all;
	    		@media (min-width: 768px) {
	    			font-size: 2vw;
	    		}
	    		@media (max-width: 768px) {
	    			padding: 0;
	    		}
	    	}
	    }

	    .close {
	    	font-size: 35px;
	    	padding: 0 3px;
	    	cursor: pointer;
	    }
	}

	.whole {
		display: flex;
		justify-content: center;

		.check_all_button {
			background-color: transparent;
			border: 2px solid $yellow;
			color: $yellow;
			padding: 10px;
			margin: 10px;
			border-radius: 4px;
		}
	}

	.sidenav {
		margin: 5vh 0;
		height: 60vh;
		width: auto;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	    align-items: center;
	    justify-content: space-around;
	    &:not(.linesnav) {
	    	align-items: flex-start;
	    	list-style-type: circle;
	    	margin-left: 5vw;
	    	@media (max-width: 768px) {
			margin-left: 15vw;
			display: block;
	    	}
	    }
	}

	.sidenav_menu {
		height: 100%;
		width: 0;
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		background-color: rgba(0,0,0,0.9);
		overflow-x: hidden;
		transition: 0.5s;
		font-weight: 700;
		font-size: 3vw;
		color: #fff;

		span {
			cursor: pointer;
		}

		@media (max-width: 768px) {
	    	font-size: 6vw;
	    }
	}

	.sidenav_lines {
		height: 100%;
		width: 0;
		position: fixed;
		z-index: 2;
		top: 0;
		right: 0;
	    font-weight: 900;
	    border-radius: 3px;
		background-color: rgba(white, 0.9);
		overflow-x: hidden;
		transition: 0.5s;
	    @media (min-width: 768px) {
	    	font-size: 3vw;
	    }
	}

	.sidenav_1,
	.sidenav_2,
	.sidenav_3,
	.sidenav_4,
	.sidenav_5,
	.sidenav_6,
	.sidenav_7,
	.sidenav_8 {
		height: 100%;
		width: 0;
		position: fixed;
		z-index: 3;
		top: 0;
		left: 0;
		background-color: rgba(0,0,0,0.9);
		overflow-x: hidden;
		transition: 0.5s;
		display: flex;
		flex-direction: column;
		justify-content: space-around;

		.route {
			height: 80vh;
			width: 100vw;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;

			img {
				width: 90vw; 
				max-width: 900px;
			}

			@media (max-width: 768px) {
				flex-direction: column;
				height: 150vh;
			}
		}
	}

	.sidenav_pdf {
		height: 100%;
		width: 0;
		position: fixed;
		z-index: 3;
		top: 0;
		right: 0;
		background-color: rgba(white, 0.9);
		overflow-x: hidden;
		transition: 0.5s;
		font-weight: 900;
		font-size: 3vw;
		color: $text-color;
		@media (max-width: 768px) {
	    	font-size: 6vw;
	    }

		a {
			text-decoration: none;
			color: $text-color;
		}

		h4 {
			color: $background;
		}
	}

	.sidenav_about {
		height: 100%;
		width: 0;
		position: fixed;
		z-index: 3;
		top: 0;
		right: 0;
		background-color: rgba(white, 0.9);
		overflow-x: hidden;
		transition: 0.5s;
		font-weight: 900;
		font-size: 3vw;
		color: $text-color;
		@media (max-width: 768px) {
		    font-size: 6vw;
		}
		
		.about {
			height: 90%;
			width: auto;
			display: flex;
			flex-direction: column;
	    	flex-wrap: wrap;
	    	align-items: center;
	    	justify-content: space-around;
	    	align-self: center;
		}

		p {
			width: 70vw;
			height: 80vh;
			max-width: 1000px;
			text-align: justify;
			color: $background;
			font-weight: 300;
			font-size: 2vw;
			@media (max-width: 768px) {
		    	font-size: 4vw;
		    }
		}

	}

	.closebtn {
		color: $text-color;
		top: 0;
		font-size: 35px;
	    padding: 0 3px;
	    cursor: pointer;
	    text-decoration: none;
	}

	.main_stop {
		color: $yellow;
		text-transform: uppercase;
		font-weight: 700;
	}

	.line_route {
	    cursor: pointer;
	    color: black;
	}

	.line_plate {
		height: 20vh;
    	display: flex;
    	flex-wrap: wrap;
    	align-items: flex-start;
    	justify-content: center;
	    .line_name {
			background-color: white;
		    color: black;
		    padding: 5px;
		    font-weight: 900;
		    border-radius: 3px;
		    margin-left: 45vw;
	    	@media (max-width: 768px) {
	    		margin-left: 0vw;
	    	}
		    @media (min-width: 768px) {
		    	font-size: 2vw;
		    }
	    }
	}

	footer {
		width: 100vw;
		font-family: 'apropal', sans-serif;
		font-size: 1.5vh;
		color: white;
		position: absolute; //fixed
		bottom: 5px; //2vh
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		//z-index: 1;

		.wytvornia_logo {
			height: 6vh;
			border-radius: 50%;
			margin-left: 1vh;
			
		}
		
		.reklama{		
			@media (max-width: 768px) {
				@media (max-height: 600px) {
					height: 10vh;
				}
				@media (min-height: 601px) {
					height: 16vh;
				}
	    	}
		    @media (min-width: 769px) {
				height: 10vh;
		    }
			
		}
	}
}
